.book-area
  = link_to "", book_path(book) , class: "book-area__link"
  .book-area__image
    - if book.image.attached?
      = image_tag book.image, height: '170px', width: '120px'
    - else
      = image_tag "/Users/zen_fumi/Documents/Book_action(clone)/app/assets/images/no_image.png", height: '170px', width: '120px'
  .book-area__title
    = "#{book.title}"
  .book-area__author
    - if book.author.present?
      = "#{book.author} (著)"
    - else
      = "不明な著者"