<% provide(:title, 'About') %>
<section class="pt32 pr32 pb32 pl32 col-xs-12 col-sm-6 offset-sm-3 c-about">
  <h1 class="fs20 b tac mb24">読書行動文の使い方</h1>
  <p class="fs14 mb16 tac lh24">読書行動文は <a href="https://www.amazon.co.jp/dp/B01G6U99B8" target="_blank" rel="noopener noreferrer" class="cw tu">アクションリーディング</a> の<br>思想を取り入れた読書メモサービスです。
  </p>
  <p class="fs14 mb16 tac lh24">読書は読んで満足するのではなく、行動に移すことが大切です。<br>しかし、多くの人が陥ってしまっている[読んで終わりの読書]。<br>そんな習慣から[行動する為の読書]に変えられないでしょうか？
  </p>
  <p class="fs14 mb16 tac lh24">読書行動文では、学校で書いていた読書感想文ではなく<br>行動に繋げる為のメモ(読書行動文)としてアウトプットし、<br>行動管理まですることで行動に繋げられると考えています。<br>
  </p>
  </p>
  <div class="pt40 pb40">
    <section class="flex mb40">
      <div class="mr16">
        <h2 class="fs18 mb16 b">1．読書行動文を提出する</h2>
        <p class="fs14 mb16 lh24">本を読んで、読書行動文を提出しよう。</p>
      </div>
      <div>
        <div class="c-about_iphone">
          <img src="/assets/gif/about_01-a0856228004e1772ed79c7220751a44ab1b1540bc8e0841a9b3dee0337a6ea65.gif" alt="About 01" />
        </div>
      </div>
    </section>
    <section class="flex mb40 c-about_section2">
      <div>
        <h2 class="fs18 mb16 b">2．読書行動文を読んで振り返る</h2>
        <p class="fs14 mb16 lh24">週1回日時を決めて、読書行動文を読み「行動できているか？」など振り返りをしよう。</p>
      </div>
      <div class="mr16">
        <div class="c-about_iphone">
          <img src="/assets/gif/about_02-88805e64cb2a3e3f4daa4a0931cb1fb94e4a8d12d81f383fbbf9ff9272d1b444.gif" alt="About 02" />
        </div>
      </div>
    </section>
    <section class="flex mb40">
      <div class="mr16">
        <h2 class="fs18 mb16 b">3．読書行動文の進捗管理をする。</h2>
        <p class="fs14 mb16 lh24">読書行動文で宣言した行動の進捗状況（行動中/習慣化/達成)を登録しよう。自分のページで進捗状況ごとに読書行動文が見られます。</p>
      </div>
      <div>
        <div class="c-about_iphone">
          <img src="/assets/gif/about_03-94c846d593802dc860fe7ba3c9865b8c2740c87fba0511c766b24792726e4467.gif" alt="About 03" />
        </div>
      </div>
    </section>
  </div>

  <section>
    <h2 class="fs20 mb16 tac b">さあ、大人は読書行動文を提出しましょう</h2>
    <p class="fs14 mb16 lh24 tac">読書行動文を提出して、<br>行動する為の読書をしていきましょう。
    </p>
    <p class="tac">
    <% if user_signed_in? %>
    <%= link_to "本を登録する", new_book_path , class: "btn btn-primary" %>
    <% else %>
    <%= link_to "ログインする", new_user_session_path ,class: "btn btn-primary" %>
    <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path ,class: "btn btn-primary", method: :post %>
    <% end %>
    </p>
  </section>
</section>
