.main-content
  .tabs-area
    .content-tabs
      .books-menu-tab.active
        全て
      .books-menu-tab
        実行中
      .books-menu-tab
        習慣化
      .books-menu-tab
        達成

  .user-books-area.show
    = render partial: "reviews/userreview", collection: @reviews
  

  / .user-books-area.show
  /   = render partial: "book", collection: @books
  / .user-books-area
  /   - @books = Book.status_books(@user.id, 2)
  /   = render partial: "book", collection: @books
  / .user-books-area
  /   - @books = Book.status_books(@user.id, 1)
  /   = render partial: "book", collection: @books
  / .user-books-area
  /   - @books = Book.status_books(@user.id, 0)
  /   = render partial: "book", collection: @books



















