.center.jumbotron
  h1
    | 本を読んで
    br
    | 行動に移していますか？
  p
    |  読書行動文は、
    br
    | 読んだ本を行動に繋げる為の文（読書行動文）を保存し、
    br
    | 宣言できるサービスです。
  - if user_signed_in?
    /= link_to "読書行動文を提出する", new_review_path , class: "btn btn-primary"
    = link_to "本を登録する", new_book_path , class: "btn btn-primary"
  - else
    = link_to "ログインする", new_user_session_path ,class: "btn btn-primary"
    = link_to "使い方を見る", about_path, class: "btn btn-primary"

.book-index
    = render partial: 'static_pages/book', collection: @books
