<footer class="c-footer mr32 ml32 pt32 pb32">
  <div class="col-xs-12 col-sm-6 offset-sm-3 pr0 pl0">
    <div class="flex c-footer_content mb24">
      <div>
        <p class="tac fs12 mb8"><a href="/about/">✏️</a></p>
        <p class="tac fs12 mb8"><a href="/about/">読書行動文の使い方</a></p>
        <p class="tac fs12 mb8"><a href="/about/">✏️</a></p>
      </div>
      <%# <div>
        <p class="fs12 mb8"><a href="https://medium.com/bukumo" target="_blank">更新情報</a></p>
        <p class="fs12 mb8"><a href="https://twitter.com/___35d" target="_blank">開発者Twitter</a></p>
        <p class="fs12 mb8"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc6RmRcJKB_1iddpNbifyR9ngiZ73Mw5ZxPCvg6vsndSQq9yQ/viewform" target="_blank">お問い合わせ</a></p>
        <p class="fs12 mb8"><a href="/privacy">プライバシーポリシー</a></p>
      </div> %>
    </div>
    <p class="tac">
      <small class="c-footer_copyright">
        
      </small>
    </p>
  </div>
</footer>
