<body class="c-body">
    <header class="c-header pr16 pl16 flex">
  <a class="text-line-none text-white" href="/">
  <img class="c-header_logo mt16 mb16" alt="Bukumo" src="/Users/zen_fumi/Downloads/読書行動文 (1).png">
  
  </a>
  <div class="c-header_search">
    <div>
      <form action="/memo/index" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <input type="text" name="q" id="q" value="" placeholder="書籍名で検索" />
      </form>
  <!-- <div class="col-md">
  <button type="button" class="btn btn-success">Test button</button>
  </div> -->
  </div>
  </div>